VIKING/modality_selector/uncased_L-24_H-1024_A-16
VIKING/modality_selector/Cache
VIKING/modality_selector/image_features.json
VIKING/modality_selector/Results
VIKING/visual_branch/data/SemArt/extract/arch,resnet152_size,448

*.pkl
*.pyc
.idea/
